[Desktop Entry]
Name=Yacas
Comment=Yet Another Computer Algebra System
Comment[pl]=Jeszcze jeden program do obliczeń symbolicznych
Icon=
Exec=yacas
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Science;Math;
# vi: encoding=utf-8
